body{
background-image: url("Gambar-Background.jpeg");
background-repeat: repeat;
background-size: 50px;

margin:0;
font-family: Arial;
overflow-x:hidden; /* hanya kunci horizontal */
}

.page{
 
width:100%;
min-height:100vh;
padding:40px;
box-sizing:border-box;
overflow-y:auto; /* INI KUNCI UTAMA */
}